* {
    margin: 0%;
    background-image: url(background.jpg);
    color: red;
}

.logo {
    margin-left: 25px;
    margin-top: 10px;


}

.logo img {
    border-color: 2px solid red green;
    border-radius: 100%;

}


h1 {
    text-align: center;
    margin-top: 3%;
    font-size: 50px;
}

.introflag {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;

}

.introflag h2 {
    margin-bottom: 3%;
    font-size: 35px;

}

.flag img {
    width: 500px;
    margin-left: 3%;

}

.intro {
    width: 50%;
}

p {
    text-align: justify;
}

button {
    padding: 10px 25px;
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
}

button a:hover {
    color: white;
}

.ald {
    margin-bottom: 5%;
    margin-top: 5%;
}

.divission {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 50px;
}

.dhaka {
    width: 400px;
    border-radius: 5px;
    box-shadow: 4px 4px 12px red;
}

.photo img {
    width: 100%;
}

.second-section {
    padding: 10px;
    text-align: center;
}

.all-divisions {
    display: flex;
    justify-content: space-around;
}


.div-btn {
    padding: 10px 30px;
    font: 16px;
    border-color: red;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
    font-weight: 600;
}

.div-btn:hover {
    color: white;
}

.description {
    margin-bottom: 5%;
    margin-top: 5%;
}

.divi1 {
    margin-top: 5%;
}

.divi2 {
    margin-top: 5%;

}

.divi3 {
    margin-top: 5%;
}

.divi4 {
    margin-top: 10%;
    margin-bottom: 5%;
}

footer h3 {
    text-align: center;

}